* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", "Work Sans",sans-serif;
    min-height: 100vh;
}

nav {
    background: #EBEDEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
    justify-content: center;
}

li {
    display: inline-block;
}

.nav-bar-left {
    text-decoration: none ;
    color: black;
    display: inline-block;
    padding: 10px 20px;
}

.nav-bar-left li a{
    text-decoration: none ;
    color: black;
}

.nav-bar-logo li a {
    font-size: 3em;
    padding: 0.2em 0;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.nav-bar-right {
    text-decoration: none ;
    color: black;
    display: inline-block;
    padding: 10px 20px;
}

.nav-bar-right li a {
    text-decoration: none ;
    color: black;
}

nav a:hover {
    color: blue;
}

